body{
    margin: 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

table{
    width: 400px;
    border-collapse: collapse;
    background-color: aliceblue;
}

 th, td{
     border: 3px solid;
    border-color: rgb(15, 13, 13);
    padding: 10px;
    text-align: center;
    
}